;virtuallinux
[SysFile]
FilePath.1=/etc/codesyscontrol/, 3S.dat
PlcLogicPrefix=1

[SysTarget]
TargetVersionMask=0
TargetVersionCompatibilityMask=0xFFFF0000

[CmpSocketCanDrv]
ScriptPath=/opt/codesys/scripts/
ScriptName=rts_set_baud.sh
AsyncSend=1

[CmpSettings]
IsWriteProtected=1
FileReference.0=SysFileMap.cfg, SysFileMap
FileReference.1=/conf/codesyscontrol/CODESYSControl_User.cfg

[SysExcept]
Linux.DisableFpuOverflowException=1
Linux.DisableFpuUnderflowException=1
Linux.DisableFpuInvalidOperationException=1

[CmpLog]
Logger.0.Name=codesyscontrol.log
;Logger.0.Filter=0x0000000F ; moved to CODESYSControl_User.cfg to allow changes by PLCShell command
Logger.0.Enable=1
Logger.0.MaxEntries=10000
Logger.0.MaxFileSize=1000000
Logger.0.MaxFiles=3
Logger.0.Backend.0.ClassId=0x0000010B   ;sends logger messages to SysOut
Logger.0.Backend.1.ClassId=0x00000104   ;writes logger messages in a file

[SysEthernet]
Linux.ProtocolFilter=3

[CmpSchedule]
SchedulerInterval=4000
ProcessorLoad.Enable=1
ProcessorLoad.Maximum=95
ProcessorLoad.Interval=5000
DisableOmittedCycleWatchdog=1

[CmpCodeMeter]
EnableNetLicenses=1
InstallCmActContainer=-1
InstallLegacyCmActContainer=-1

